<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListTimetableController</servlet-name>
        <servlet-class>controller.timetable.ListTimetableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeAttController</servlet-name>
        <servlet-class>controller.lecture.TakeAttController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAttController</servlet-name>
        <servlet-class>controller.student.ViewAttController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivityDetailController</servlet-name>
        <servlet-class>controller.timetable.ActivityDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.home.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.home.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAttendenceStudent</servlet-name>
        <servlet-class>controller.lecture.AddAttendenceStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextAddAttend</servlet-name>
        <servlet-class>controller.lecture.NextAddAttend</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListTimetableController</servlet-name>
        <url-pattern>/list-timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeAttController</servlet-name>
        <url-pattern>/take-attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAttController</servlet-name>
        <url-pattern>/view-att</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivityDetailController</servlet-name>
        <url-pattern>/activity-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAttendenceStudent</servlet-name>
        <url-pattern>/add-attend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextAddAttend</servlet-name>
        <url-pattern>/next-add-std</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
